.post-form {
    max-width: 300px;
    margin-left: 50px;
    margin-top: 20px;
  }

  .post-form-margin {
    margin-bottom: 16px;
  }

  .post-form-forgot {
    float: right;
  }

  .post-form-button {
    width: 100%;
  }






/* .title{
    width: 400px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.textarea{
    margin-top: 10px;
    height: 50px;
    width: 500px;
    margin-left: 20px;
  } */